PUBLIC_ROOM_WS_URL=ws://127.0.0.1:8788
NUMBER_CODEC_ALPHABET=abcdef1234567890
SOUNDCLOUD_SCRAPER_API_URL=http://127.0.0.1:8787
AUTH_KEY_PRIVATE=-----BEGIN PRIVATE KEY-----\n\n-----END PRIVATE KEY-----
AUTH_KEY_PUBLIC=-----BEGIN PUBLIC KEY-----\n\n-----END PUBLIC KEY-----
